<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.1084305662002-im975ihk7jpqj5h5tb5a3b592telt6k1</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.878194983320-cahko5gq6sn2coiq25q73dreeivh85pg</string>
			</array>
		</dict>
	</array>
	<key>GIDClientID</key>
	<string>878194983320-cahko5gq6sn2coiq25q73dreeivh85pg.apps.googleusercontent.com</string>
	<key>LSEnvironment</key>
	<dict>
		<key>ENVIRONMENT</key>
		<string>$(ENVIRONMENT)</string>
	</dict>
	<key>PHPhotoLibraryPreventAutomaticLimitedAccessAlert</key>
	<true/>
</dict>
</plist>
