<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.827924751320-momm9t6o521vipnoub39v6ue9116b4lm</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.878194983320-t7kdd69c91vc5hpam17bn4gqpi6ioua0</string>
			</array>
		</dict>
	</array>
	<key>GIDClientID</key>
	<string>878194983320-t7kdd69c91vc5hpam17bn4gqpi6ioua0.apps.googleusercontent.com</string>
	<key>LSEnvironment</key>
	<dict>
		<key>ENVIRONMENT</key>
		<string>$(ENVIRONMENT)</string>
	</dict>
</dict>
</plist>
